<!DOCTYPE html>
<html lang="pl-PL">
<head>
	<%- partial('_partial/head', {
		title: 'Aktualnoci  Mysie Pysie  Opieka dzienna',
		font: 'Quicksand:400,500',
		style: 'archive.css'
	} ); %>
	<link rel="canonical" href="https://mysiepysie.pl/aktualnosci/" />
	<meta property="og:title" content="Aktualnoci  Mysie Pysie  Opieka dzienna" />
	<meta property="og:description" content="Jestemy kameralnym 偶obkiem dziaajcym w formie dziennej opieki." />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://mysiepysie.pl/aktualnosci/" />
	<meta property="og:image" content="https://mysiepysie.pl/images/og_image.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:image:alt" content="Mysie Pysie - Opieka dzienna" />
</head>
<body>
	<nav>
		<div class="close">
			<a href="/#aktualnosci">
				<img src="/images/mp_ic_x_thick.svg" class="close" alt="X">
			</a>
		</span>
	</nav>
	<main>
		<header>
			<img src="/images/mp_mouse_news.svg" class="logo" alt="Aktualnoci Mysi贸w Pysi贸w">
			<h1>Aktualnoci Mysi贸w&nbsp;Pysi贸w</h1>
		</header>
		<section>
			<% page.posts.each( (post) => { %>
				<%- partial( '_partial/headline', { post: post } ) %>
			<% }) %>
		</section>
	</main>
	<%- partial('_partial/footer') %>
</body>
</html>
